version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: financedock:latest
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - redis

  redis:
    image: redis:6
    ports:
      - "6379:6379"
